* {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 50px;
    background-color: aqua;

}
header{


    margin-top: 25px;
    font-size: larger;
    font-weight: 100;
    font-style: normal;
    border-color: aqua;

}